<div class="p-0 m-0 w-screen bg-theme-blue h-24">
    <ul class="text-theme-cream inline-flex">

        <div class="text-left inline-block mr-96 mt-2">
            <img src="../../assets/Logo1.png" alt="Logo" width="325" class="mt-1 ml-4 cursor-pointer" routerLink="../home">
        </div>
            <div class="inline-flex ml-96 mt-6">
                    <li class="headerLink" routerLink="../events">Events</li>
                    <li class="headerLink" routerLink="../about">About</li>
            </div>
    </ul>
</div>