<div class="bg-theme-blue w-screen h-72">
    <img src="../../assets/Logo1.png" alt="Logo" class="pt-10 mx-auto cursor-pointer" width="400" routerLink="../home">

    <div class="ml-[680px] mt-5 inline-flex">
        <a href="https://www.instagram.com/marine_auditory/">
            <img src="../../assets/Instagram Icon.png" alt="Instagram" width="20" class="mx-2">
        </a>
        <a href="https://www.youtube.com/channel/UCQYyaY6tSBELrM71ZQ6ivCQ">
            <img src="../../assets/717426.png" alt="Youtube" width="20" class="mx-2">
        </a>
    </div>

    <h1 class="text-center mt-6 font-merriweather text-theme-cream">lhanchin59@gmail.com</h1>
</div>

