<app-header class="static"></app-header>

<div class="bg-about-sea w-screen h-96">
        <h1 class="font-baskerville-bold text-theme-blue text-5xl pt-60 pl-10">About Us</h1>

        <div class="bg-theme-blue w-20 h-1 ml-10 mt-3"></div>
</div>

<div class="bg-theme-cream h-[550px]">
        <h1 class="text-theme-shadow text-4xl font-baskerville-bold pt-12 ml-96">About Marine Auditory</h1>
        <div class="bg-theme-blue h-1 w-24 ml-96 mt-3"></div>
        <p class="text-theme-shadow font-merriweather mt-4 mx-96 leading-10">
            Marine Auditory is a dynamic nonprofit organization founded and run by a group of passionate high school students with a shared love for the environment. Our mission is to empower youth to actively participate in environmental conservation efforts and create a greener future.
            Driven by the belief that small actions can make a big difference, we strive to inspire and educate our peers about the pressing environmental challenges we face today. Through our initiatives, we aim to raise awareness, promote sustainable practices, and make the world a better place.
        </p>
</div>

<div class="bg-theme-shadow h-[350px]">
        <h1 class="text-theme-cream ml-96 font-baskerville-bold text-3xl pt-10">About the Founder</h1>
        <div class="bg-theme-cream h-1 w-24 ml-96 mt-3"></div>
        <p class="mx-96 leading-10 text-theme-cream font-merriweather mt-4">
                The founder of Marine Auditory is Han Chin Li, a driven and environmentally conscious high school student with a vision to make a difference. Inspired by her love for nature and concern for the future of our planet, Han Chin founded Marine Auditory as a platform to empower youth and drive positive change in environmental sustainability.


        </p>
</div>

<app-footer></app-footer>