<app-header class="static"></app-header>

<div class="bg-about-sea w-screen h-96">
        <h1 class="font-baskerville-bold text-theme-blue text-5xl pt-60 pl-10">Events</h1>

        <div class="bg-theme-blue w-20 h-1 ml-10 mt-3"></div>
</div>

<div class="bg-theme-cream w-screen h-[400px] inline-flex">
    <img src="../../assets/linkedin-sales-solutions-UK1N66KUkMk-unsplash.jpg" width="400" alt="" class="ml-14" my-10>
    <div>
        <h1 class="text-5xl font-baskerville-bold text-theme-shadow ml-[700px] pt-14">Webinar</h1>
        <div class="bg-theme-blue h-1 w-24 ml-[820px] mt-3"></div>

        <p class="text-right mr-[6px] mt-6 text-theme-shadow font-merriweather">
            Join us for a webinar! Please sign up with the <a href="https://docs.google.com/forms/d/e/1FAIpQLScOoMUFcPZKiHGfTTnO3Id1v8ih97Cn55SNWTns7dyfGQUDfA/viewform?usp=sf_link" class="text-theme-purple">link</a> here! 
        </p>
    </div>
</div>

<div class="bg-theme-shadow p-0 m-0 w-screen h-[400px]">
    <div class="inline-flex">
        <div class="text-theme-cream font-merriweather pt-14 ml-10 mr-10">
            <h1 class="text-5xl font-baskerville-bold">Beach Cleanup</h1>
            <div class="bg-theme-cream h-1 w-24 mt-3"></div>
            <p class="mt-6 leading-8">
                Join us for a beach cleanup in the Winter Break! 
                This Cleanup is not only a platform for environmental action and education, but also helps provide a unique opportunity for volunteers to connect with nature. 
                Participants experience the serenity of the coastline, witness the marvels of marine life, and understand firsthand the need to protect these precious ecosystems.
            </p>

            <p class="mt-6">
                To sign up, please email me your name and email at <span class="underline">lhanchin59@gmail.com</span>>. Within one month of the beach cleanup, I will email you the location and details of the event. 
            </p>
        </div>

        <img src="../../assets/pebble-beach.jpeg" width="400" alt="Beach" class="mx-14 my-10">
    </div>
</div>

<app-footer></app-footer>

