<div class="p-0 m-0 w-screen bg-theme-blue h-40">
    <ul class="text-theme-cream inline-flex">

        <div class="text-left inline-block mr-72">
            <img src="../../assets/Logo1.png" alt="Logo" class="mt-7 ml-6 cursor-pointer" width="384px">
        </div>
            <div class="inline-flex ml-96 mt-8">
                    <li class="headerLinkMain" routerLink="../events">Events</li>
                    <li class="headerLinkMain" routerLink="../about">About</li>
            </div>
    </ul>
</div>

<div class="bg-sea w-screen h-[625px] object-scale-down">
    <div class="bg-theme-cream bg-opacity-75 h-[500px] w-[1100px] absolute ml-44 mt-12">
        <h1 class="text-theme-blue font-baskerville-bold text-6xl opacity-100 text-center pt-20 ">Hello!</h1>
        <div class="bg-theme-blue h-1.5 w-16 mx-auto my-3"></div>

        <p class="font-merriweather text-theme-blue text-center mx-7 mt-6">
            Welcome to Marine Auditory, an inspiring initiative led by passionate high school students dedicated to positively impacting the environment by raising awareness and reducing plastic pollution. 
            As the next generation, we believe in the power of youth to drive change and create a sustainable future for all.
        </p>
        <p class="font-merriweather text-theme-blue text-center mx-7 mt-6">
            Join us on our mission to create a greener world! Explore our resources, get involved in our events, and connect with like-minded individuals who share our vision. 
            Whether you're interested in organizing local clean-up initiatives, or simply learning more about plastic pollution, 
            Marine Auditory provides a platform for you to make a difference.
        </p>

        <h1 routerLink="../about" class="text-center mt-6 text-xl font-baskerville-bold text-theme-blue underline cursor-pointer">About Us</h1>

    </div>
</div>

<div class="bg-theme-cream h-96 w-screen">
    <h1 class="text-theme-shadow text-5xl font-baskerville-bold pt-16 ml-96">Events</h1>
    <div class="bg-theme-shadow h-1 w-16 ml-96 mt-3"></div>
    <p class="mx-96 mt-4 text-theme-shadow font-merriweather leading-8">
        Marine Auditory hosts a diverse range of events throughout the year, aimed at raising awareness, educating the community, and inspiring action towards plastic pollution. 
    </p>
    <h1 routerLink="../events" class="underline text-theme-shadow text-center font-baskerville-bold mt-6 text-lg cursor-pointer">Learn more</h1>
</div>

<div class="bg-theme-shadow w-screen h-[800px]">
    <h1 class="text-theme-cream text-5xl font-baskerville-bold text-center pt-8">Introduction Video</h1>
    <video src="../../assets/Final.mp4" width="1000" class="mt-10 mx-auto"></video>
</div>

<app-footer></app-footer>